@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    @font-face {
        font-family: "jetbrains-mono";
        src: url(font/JetBrainsMono-Regular.woff2) format('woff2');
    }
}

* {
    font-family: 'jetbrains-mono', monospace;
}